body {
  font-family: sans-serif;
  padding: 20px;
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.item {
  padding: 20px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#loading {
  text-align: center;
  padding: 15px;
  color: red;
  display: none;
}
